# Imports and setup

In [30]:
import os
os.chdir("/media/seconddrive/wego-occupancy-JP")

In [31]:
from copy import deepcopy
from src.config import *
from pprint import pprint
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import StratifiedKFold
from pandas.core.common import SettingWithCopyWarning
from src import data_utils, triplevel_utils
from tqdm import tqdm
from matplotlib.colors import LinearSegmentedColormap

from pyspark.sql import SparkSession

import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import swifter
import joblib
import shap

import warnings
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
pd.set_option('display.max_columns', None)
from pandas import MultiIndex, Int64Index
import xgboost as xgb

In [32]:
import importlib
importlib.reload(data_utils)

In [33]:
spark = SparkSession.builder.config('spark.executor.cores', '8').config('spark.executor.memory', '40g')\
        .config("spark.sql.session.timeZone", "UTC").config('spark.driver.memory', '20g').master("local[26]")\
        .appName("wego-daily").config('spark.driver.extraJavaOptions', '-Duser.timezone=UTC').config('spark.executor.extraJavaOptions', '-Duser.timezone=UTC')\
        .config("spark.sql.datetime.java8API.enabled", "true").config("spark.sql.execution.arrow.pyspark.enabled", "true")\
        .getOrCreate()

In [34]:
# load the APC data from a prepared file
filepath = os.path.join(os.getcwd(), "data", "cleaned-merged-wego-daily.apc.parquet")
if not os.path.exists(filepath):
    apcdata = spark.read.load(filepath)
    apcdata.createOrReplaceTempView("apc")

    # filter subset
    query = f"""
            SELECT *
            FROM apc
            """
    apcdata=spark.sql(query)
    apcdata = data_utils.remove_nulls_from_apc(apcdata)
    apcdata.createOrReplaceTempView('apcdata')
    apcdata_per_trip = data_utils.get_apc_per_trip_sparkview(spark)
    df = apcdata_per_trip.toPandas()
else:
    fp = os.path.join('data', 'triplevel_df_processed_MAIN_NOTEBOOK.pickle')
    df = pd.read_pickle(fp)
    df = df.dropna()
    # Removing time_window in case a different one will be used
    df = df.drop(['time_window', 'load'], axis=1)

## Feature Analysis (used features)
* Datetime: `year`, `month`, `dayofweek`, `hour`, `day`
* GTFS: `scheduled_headway`, `route_direction_name`, `route_id`, `block_abbr`
* Weather: `temperature`, `humidity`, `precipitation_intensity`
* APC data on a stop level is grouped into trips and data is gathered by using the first instance (route_id, route_direction_name) or the average of the numerical values (scheduled headay, weather data)

In [35]:
df.head(1)

,trip_id,transit_date,arrival_time,year,month,route_id,route_direction_name,block_abbr,dayofweek,hour,temperature,humidity,precipitation_intensity,scheduled_headway,actual_headways,y_reg100,y_reg095,load,route_id_direction,time_window
0,193715,2020-01-01,2020-01-01 17:24:14,2020,1,14,FROM DOWNTOWN,1400,4,17,49.390999,0.467,0.0,3600.0,3654.976744,9.0,9.0,"[9.0, 1.0, 1.0, 8.0, 1.0, 1.0, 0.0, 9.0, 0.0, ...",14_FROM DOWNTOWN,35.0

## Adding national and local (TN) holidays

In [36]:
fp = os.path.join('data', 'US Holiday Dates (2004-2021).csv')
holidays_df = pd.read_csv(fp)
holidays_df = holidays_df.append({'Date': '2022-01-01', 'Holiday': "New Year's Day"}, ignore_index=True)
holidays_df = holidays_df.append({'Date': '2022-01-17', 'Holiday': "Martin Luther King, Jr. Day"}, ignore_index=True)
holidays_df = holidays_df.append({'Date': '2022-04-15', 'Holiday': "Good Friday"}, ignore_index=True)
holidays_df = holidays_df.append({'Date': '2022-05-30', 'Holiday': "Memorial Day"}, ignore_index=True)
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])

## Feature Generation
Generated features, $y_t = f(x_{t-1})$, are always generated using past information.
* `time_window`: Assigning the arrival times into time windows (30 minutes by default).
* `window_of_day`: Just a larger time window (could probably remove)
* `actual_headways`: On a stop level, actual headways are given using the arrival times of the bus to the bus stop. On a trip level, this was averaged over the multiple bus stops across a single trip.
* `congestion_surrogate`: Generated by a model trained on the scheduled and actual headways. (tentatively included, surrogate model is not yet that accurate)
* `route_id_direction`: Combined route_id and route_direction into one feature and then one hot encoded.
* Other categorical values are converted to ordinal integers.

In [37]:
FOLDS = 3
RANDOM_SEED = 100
WINDOW = 30
PAST_TRIPS = 5
TARGET = 'y_reg100'

In [38]:
cat_features = ['route_id_direction', 'is_holiday', 'dayofweek']
ord_features = ['year', 'month', 'hour', 'day']
num_features = ['temperature', 'humidity', 'precipitation_intensity', 'avg_sched_headway', 'time_window']

In [40]:
# In the interest of time
tdf = deepcopy(df)

In [41]:
tdf = triplevel_utils.generate_new_features(df, time_window=WINDOW, past_trips=PAST_TRIPS, target=TARGET)
tdf['is_holiday'] = tdf['transit_date'].swifter.apply(lambda x: not holidays_df[holidays_df['Date'] == x].empty)

Dask Apply:   0%|          | 0/64 [00:00<?, ?it/s]

In [42]:
# Group by time windows and get the maximum of the aggregate load/class/sched
# Get mean of temperature (mostly going to be equal)
# TODO: Double check this! 
tdf = tdf.groupby(['transit_date', 'route_id_direction', 'time_window']).agg({"year":"first", "month":"first",
                                                                              "dayofweek":"first", "hour":"first",
                                                                              "temperature":"mean", "humidity":"mean",
                                                                              "precipitation_intensity": "mean",
                                                                              "scheduled_headway": "max",
                                                                              TARGET: "max", "day": "first",
                                                                              "is_holiday": "first"})
tdf = tdf.reset_index(level=[0,1,2])

In [43]:
print("ohe_encoder is for the following column order:", cat_features)
rf_df, ix_map, ohe_encoder, percentiles = triplevel_utils.prepare_df_for_training(tdf, cat_features, ord_features, target=TARGET)
percentiles

ohe_encoder is for the following column order: ['route_id_direction', 'is_holiday', 'dayofweek']

[(0.0, 9.0), (10.0, 16.0), (17.0, 99.0)]

In [44]:
drop_cols = ['route_id', 'route_direction_name', 'block_abbr', 'y_reg100', 'y_reg095', 'transit_date', 'is_holiday', 'route_id_direction', 'actual_headways', 'trip_id', 'arrival_time']
drop_cols = [col for col in drop_cols if col in rf_df.columns]
rf_df = rf_df.drop(drop_cols, axis=1)

display(rf_df['y_class'].value_counts())

y = rf_df.pop('y_class')
X = rf_df

fp = os.path.join('models', 'any_day', 'TL_columns.joblib')
joblib.dump(X.columns, fp)

0    142542
1    128004
2    126100
Name: y_class, dtype: int64

['data/TL_columns.joblib']

In [45]:
print(X.shape)
X.head(5).style.set_precision(2)

(396646, 92)

In [46]:
print(y.unique())
pd.DataFrame(y.head())

[0 1 2]

   y_class
0        0
1        0
2        0
3        1
4        1

In [47]:
fp = os.path.join('models', 'any_day', 'TL_OHE_encoders.joblib')
joblib.dump(ohe_encoder, fp)
fp = os.path.join('models', 'any_day', 'TL_IX_map.joblib')
joblib.dump(ix_map, fp)
fp = os.path.join('models', 'any_day', 'TL_X_columns.joblib')
joblib.dump(X.columns, fp)

['data/TL_X_columns.joblib']

In [48]:
# Grid search results
fp = os.path.join('models', 'TL_TS_RF', 'XGBOOST_RANDSEARCHCV.pkl')
search_results = joblib.load(fp)
print(search_results.best_params_)

{'n_estimators': 900, 'max_depth': 14, 'learning_rate': 0.05, 'gamma': 0.2}

In [49]:
# Train on entire dataset

n_estimators  = search_results.best_params_['n_estimators']
max_depth     = search_results.best_params_['max_depth']
learning_rate = search_results.best_params_['learning_rate']
gamma         = search_results.best_params_['gamma']
objective     = 'multi:softmax'

model012 = xgb.XGBClassifier(n_estimators=n_estimators, max_depth=max_depth,
                             learning_rate=learning_rate, use_label_encoder=False, gamma=gamma, num_class=3,
                             objective=objective, eval_metric='mlogloss')
# model012 = xgb.XGBClassifier(use_label_encoder=False, num_class=3,
#                             objective=objective, eval_metric='mlogloss')

model012.fit(X, y, verbose=1)

fp = os.path.join('models', 'any_day', 'XGB_012_NoPastInfo_30min.joblib')
joblib.dump(model012, fp)

['models/TL_TS_RF/XGB_012_NoPastInfo_30min.joblib']

## For bins 234

In [50]:
rf_df, ix_map, ohe_encoder, percentiles = triplevel_utils.prepare_df_for_training(tdf, cat_features, ord_features, target=TARGET)

# Train 2 separate models for bins 0, 1, 2 and 2, 3, 4
# Adjusting y_class to incorporate Dan's request
# Use Transit's 3 bins as a base. For the highest capacity bin, carve out everything from 55 to 75 as a 4th bin, and 75+ as a 5th bin.

rf_df, percentiles = triplevel_utils.adjust_bins(rf_df, TARGET=TARGET, percentiles=percentiles)
print(percentiles)
drop_cols = ['route_id', 'route_direction_name', 'block_abbr', 'y_reg100', 'y_reg095', 'transit_date', 'is_holiday', 'route_id_direction']
drop_cols = [col for col in drop_cols if col in rf_df.columns]
rf_df = rf_df.drop(drop_cols, axis=1)
rf_df = rf_df[rf_df['y_class'] >= 2]
display(rf_df['y_class'].value_counts())

y = rf_df.pop('y_class')
y = y - 2
X = rf_df

# Train on entire dataset
n_estimators  = search_results.best_params_['n_estimators']
max_depth     = search_results.best_params_['max_depth']
learning_rate = search_results.best_params_['learning_rate']
gamma         = search_results.best_params_['gamma']
objective = 'multi:softmax'

model234 = xgb.XGBClassifier(n_estimators=n_estimators, max_depth=max_depth,
                          learning_rate=learning_rate, use_label_encoder=False, gamma=gamma, num_class=3,
                          objective=objective, eval_metric='mlogloss')

model234.fit(X, y, verbose=1)

fp = os.path.join('models', 'any_day', 'XGB_234_NoPastInfo_30min.joblib')
joblib.dump(model234, fp)

2    123094
3      2478
4       528
Name: y_class, dtype: int64

['models/TL_TS_RF/XGB_234_NoPastInfo_30min.joblib']