In [1]:
from tensorflow.keras import backend as K
K.clear_session()

In [2]:
import os
os.chdir("/media/seconddrive/mta_stationing_problem")
os.environ["CUDA_VISIBLE_DEVICES"]="1"

In [3]:
import sys
import datetime as dt
import importlib
from pyspark import SparkContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import Row, SparkSession
from pyspark.sql import functions as F
from pyspark import SparkConf
import numpy as np
import pickle
import joblib
import matplotlib.pyplot as plt
import matplotlib as mpl
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Input, Dense, LSTM, Embedding, concatenate, GlobalAveragePooling1D
from tensorflow.keras.layers import LayerNormalization, MultiHeadAttention, Dropout
from tensorflow.keras.layers import Conv1D
from tensorflow.keras.models import Model
import IPython
from copy import deepcopy
from tqdm import trange, tqdm

from src import tf_utils, config, data_utils, models, linklevel_utils

mpl.rcParams['figure.facecolor'] = 'white'

import warnings

import pandas as pd
import swifter
pd.set_option('display.max_columns', None)
from pandas.core.common import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
tf.get_logger().setLevel('INFO')

In [4]:
importlib.reload(tf_utils)
importlib.reload(models)

In [5]:
import pyspark
print(pyspark.__version__)

3.3.0

In [6]:
spark = SparkSession.builder.config('spark.executor.cores', '8').config('spark.executor.memory', '80g')\
        .config("spark.sql.session.timeZone", "UTC").config('spark.driver.memory', '40g').master("local[26]")\
        .appName("wego-daily").config('spark.driver.extraJavaOptions', '-Duser.timezone=UTC').config('spark.executor.extraJavaOptions', '-Duser.timezone=UTC')\
        .config("spark.sql.datetime.java8API.enabled", "true").config("spark.sql.execution.arrow.pyspark.enabled", "true")\
        .config("spark.sql.autoBroadcastJoinThreshold", -1)\
        .config("spark.driver.maxResultSize", 0)\
        .config("spark.shuffle.spill", "true")\
        .getOrCreate()

22/08/06 00:53:43 WARN Utils: Your hostname, scope-vanderbilt resolves to a loopback address: 127.0.1.1; using 10.2.218.69 instead (on interface enp8s0)
22/08/06 00:53:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/06 00:53:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/06 00:53:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/08/06 00:53:44 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/08/06 00:53:44 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [7]:
f = os.path.join('data', 'processed', 'apc_weather_gtfs.parquet')
apcdata = spark.read.load(f)

In [8]:
todelete = apcdata.filter('(load < 0) OR (load IS NULL)').select('transit_date','trip_id','overload_id').distinct()
todelete=todelete.withColumn('marker',F.lit(1))

#joining and whereever the records are not found in sync error table the marker will be null
apcdataafternegdelete=apcdata.join(todelete,on=['trip_id','transit_date','overload_id'],how='left').filter('marker is null').drop('marker')

In [9]:
apcdataafternegdelete = apcdataafternegdelete.sort(['trip_id', 'overload_id'])

In [10]:
apcdataafternegdelete.show(1, vertical=True, truncate=False)

22/08/06 00:53:49 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

-RECORD 0-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 trip_id                                | 193637
 transit_date                           | 2020-02-21 00:00:00
 overload_id                            | 0
 gtfs_date                              | 2020-01-24 00:00:00
 dayofweek                              | 6
 hour                                   | 23
 gtfs_route_id                          | 14
 gtfs_direction_id                      | 0
 stop_id                                | MEALYTNN
 day                                    | 21
 vehicle_id                             | 1919
 block_abbr                             | 1403
 activation_date                        | 2019-10-27 00:00:00
 activation_date_str                    | 10/27/19
 arrival_time                           | 2020-02-21 23:38:48
 arrival_time_str                       | 23:38:48
 block_stop_order                       | 616
 deactivation_date                      | 2020-03-11 00:00:00
 deactivation_date_str                  | 03/11/20
 departure_time                         | 2020-02-21 23:39:02
 departure_time_str                     | 23:39:02
 load                                   | 11.0
 load_factor                            | 0.275
 map_latitude                           | 36.221755
 map_longitude                          | -86.825068
 offs                                   | 0.0
 ons                                    | 0.0
 pattern_num                            | -4922319677812129753
 route_direction_name                   | FROM DOWNTOWN
 route_id                               | 14
 scheduled_time                         | 2020-02-21 23:38:26
 scheduled_time_str                     | 23:38:26
 source_pattern_id                      | null
 stop_id_list                           | ['MCC', 'UNI2AEF', '1SWOONM', '1SJAMNM', '1SOLDNN', '1SOLDNM', 'N1SSPRNN', 'DICGRANN', 'DICHANNN', 'DICCLENN', 'DICWHISN', 'FERBRIWN', 'BAPVASWN', 'BAPWEANN', 'BAPLOCNM', 'BAPSEMNN', 'BAPHAYN', 'BAPMEANM', 'BAPYOUNN', 'WHITONWN', 'WHILUZNF', 'WHINOCWN', 'WHIAVANN', 'WHIFRANN', 'WHIMOONN', 'WHIREVNN', 'REVPAIWN', 'REVROWWN', 'ROWCARWN', 'ROWBONWN', 'ROWCROWN', 'ROWBUESN', 'WHAWALEF', 'HAMFLIWN', 'TUCDORNN', 'TUCHUMNN', 'TUCKINNN', 'KINMEAEN', 'MEALYTNN', 'LYTBOYNN', 'BOYFARNN', 'BOYAMENN', 'BOYBUENN']
 stop_id_original                       | MEALYTNN
 stop_name                              | MEADOW HILL DR & LYTLE DR NB
 stop_sequence                          | 39
 stop_sequence_list                     | [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]
 transit_date_str                       | 02/21/20
 update_date                            | 2021-12-16 00:00:00
 vehicle_capacity                       | 40.0
 zero_load_at_trip_end                  | null
 count                                  | null
 darksky_temperature                    | 29.067
 darksky_humidity                       | 0.66
 darksky_nearest_storm_distance         | 0.0
 darksky_precipitation_intensity        | 0.0
 darksky_precipitation_probability      | 0.0
 darksky_pressure                       | 1034.4
 darksky_wind_gust                      | 3.09
 darksky_wind_speed                     | 1.8239999999999998
 weatherbit_rh                          | 57.0
 weatherbit_wind_spd                    | 1.6
 weatherbit_app_temp                    | -3.9
 weatherbit_temp                        | -1.7
 weatherbit_snow                        | 0.0
 weatherbit_precip                      | 0.0
 gtfs_file                              | 24-Jan-2020.zip
 gtfs_shape_id                          | 13955
 gtfs_start_date                        | 2020-01-24 00:00:00
 gtfs_end_date                          | 2020-03-28 00:00:00
 gtfs_number_of_scheduled_trips         | null
 gtfs_number_of_scheduled_trips_at_stop | null
 delay_time                             | -22
 dwell_time                             | 14
 prev_sched                             | 2020-02-21 22:40:26
 sched_hdwy                             | 3480
 prev_depart                            | 2020-02-21 22:39:04
 actual_hdwy                            | 3598
 is_gapped                              | 0
 is_bunched                             | 0
 is_target                              | 1
 year                                   | 2020
 month                                  | 2
only showing top 1 row

In [11]:
get_columns = ['trip_id', 'transit_date', 'arrival_time', 
               'block_abbr', 'stop_sequence', 'stop_id_original',
               'load', 
               'darksky_temperature', 
               'darksky_humidity', 
               'darksky_precipitation_probability', 
               'route_direction_name', 'route_id',
               'dayofweek',  'year', 'month', 'hour',
               'sched_hdwy']
get_str = ", ".join([c for c in get_columns])

apcdataafternegdelete.createOrReplaceTempView("apc")

# # filter subset
query = f"""
SELECT {get_str}
FROM apc
"""
print(query)

apcdataafternegdelete = spark.sql(query)

SELECT trip_id, transit_date, arrival_time, block_abbr, stop_sequence, stop_id_original, load, darksky_temperature, darksky_humidity, darksky_precipitation_probability, route_direction_name, route_id, dayofweek, year, month, hour, sched_hdwy
FROM apc

In [12]:
df = apcdataafternegdelete.toPandas()
print(df.shape)
old_shape = df.shape[0]
df.head(1)

(16683167, 17)

,trip_id,transit_date,arrival_time,block_abbr,stop_sequence,stop_id_original,load,darksky_temperature,darksky_humidity,darksky_precipitation_probability,route_direction_name,route_id,dayofweek,year,month,hour,sched_hdwy
0,193637,2020-02-21,2020-02-21 23:38:48,1403,39,MEALYTNN,11.0,29.067,0.66,0.0,FROM DOWNTOWN,14,6,2020,2,23.0,3480.0

In [13]:
df = df[df.arrival_time.notna()]
df = df[df.sched_hdwy.notna()]
df = df[df.darksky_temperature.notna()]

df['route_id_dir'] = df["route_id"].astype("str") + "_" + df["route_direction_name"]
df['day'] = df["arrival_time"].dt.day
df = df.sort_values(by=['block_abbr', 'arrival_time']).reset_index(drop=True)

# Adding extra features
# Holidays
fp = os.path.join('data', 'others', 'US Holiday Dates (2004-2021).csv')
holidays_df = pd.read_csv(fp)
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])
holidays_df['is_holiday'] = True
df = df.merge(holidays_df[['Date', 'is_holiday']], left_on='transit_date', right_on='Date', how='left')
df['is_holiday'] = df['is_holiday'].fillna(False)
df = df.drop(columns=['Date'])

# Traffic
# Causes 3M data points to be lost
fp = os.path.join('data', 'traffic', 'triplevel_speed.pickle')
speed_df = pd.read_pickle(fp)
speed_df = speed_df.rename({'route_id_direction':'route_id_dir'}, axis=1)
speed_df = speed_df[['transit_date', 'trip_id', 'route_id_dir', 'traffic_speed']]
df = df.merge(speed_df, how='left', 
                left_on=['transit_date', 'trip_id', 'route_id_dir'], 
                right_on=['transit_date', 'trip_id', 'route_id_dir'])
# df = df[~df['traffic_speed'].isna()]
df['traffic_speed'].bfill(inplace=True)

In [14]:
old_shape - df.shape[0]

2242087

In [15]:
sorted_df = []
for ba in tqdm(df.block_abbr.unique()):
    ba_df = df[df['block_abbr'] == ba]
    end_stop = ba_df.stop_sequence.max()
    # Same result as creating a fixed_arrival_time (but faster)
    ba_df = ba_df[ba_df.stop_sequence != end_stop].reset_index(drop=True)
    sorted_df.append(ba_df)
        
overall_df = pd.concat(sorted_df)
drop_cols = ['route_direction_name', 'route_id', 'trip_id']
drop_cols = [col for col in drop_cols if col in overall_df.columns]
overall_df = overall_df.drop(drop_cols, axis=1)

# overall_df = overall_df.rename({"fixed_arrival_time": "arrival_time"}, axis=1)

100%|| 227/227 [00:07<00:00, 31.50it/s]

In [16]:
TIMEWINDOW = 15
overall_df['minute'] = overall_df['arrival_time'].dt.minute
overall_df['minuteByWindow'] = overall_df['minute'] // TIMEWINDOW
overall_df['temp'] = overall_df['minuteByWindow'] + (overall_df['hour'] * 60 / TIMEWINDOW)
overall_df['time_window'] = np.floor(overall_df['temp']).astype('int')
overall_df = overall_df.drop(columns=['minute', 'minuteByWindow', 'temp'])

## Aggregate stops by time window

In [17]:
print(overall_df.shape)
overall_df.head(1)

(14371083, 19)

,transit_date,arrival_time,block_abbr,stop_sequence,stop_id_original,load,darksky_temperature,darksky_humidity,darksky_precipitation_probability,dayofweek,year,month,hour,sched_hdwy,route_id_dir,day,is_holiday,traffic_speed,time_window
0,2020-01-01,2020-01-01 10:01:17,300,1,MCC5_5,7.0,40.15,0.616,0.0,4,2020,1,10.0,4800.0,3_FROM DOWNTOWN,1,True,18.639604,40

In [18]:
# Group by time windows and get the maximum of the aggregate load/class/sched
# Get mean of temperature (mostly going to be equal)
# TODO: Double check this! 
overall_df = overall_df.groupby(['transit_date', 
                                 'route_id_dir', 
                                 'stop_id_original',
                                 'time_window']).agg({"block_abbr":"first",
                                                      "arrival_time":"first",
                                                      "year":"first", 
                                                      "month":"first",
                                                      "day": "first",
                                                      "hour":"first",
                                                      "is_holiday": "first",
                                                      "dayofweek":"first",
                                                      "stop_sequence":"first",
                                                      "darksky_temperature":"mean", 
                                                      "darksky_humidity":"mean",
                                                      "darksky_precipitation_probability": "mean",
                                                      "traffic_speed":"mean",
                                                      "sched_hdwy": "max",
                                                      "load": "sum" })
overall_df = overall_df.reset_index(level=[0,1,2,3])
overall_df = overall_df.sort_values(by=['block_abbr', 'arrival_time']).reset_index(drop=True)

In [19]:
print(overall_df.shape)
overall_df[100:120]

(13984203, 19)

,transit_date,route_id_dir,stop_id_original,time_window,block_abbr,arrival_time,year,month,day,hour,is_holiday,dayofweek,stop_sequence,darksky_temperature,darksky_humidity,darksky_precipitation_probability,traffic_speed,sched_hdwy,load
100,2020-01-01,3_FROM DOWNTOWN,WES18AWN,63,300,2020-01-01 15:46:14,2020,1,1,15.0,True,4,11,52.555,0.358,0.0,17.727612,2400.0,6.0
101,2020-01-01,3_FROM DOWNTOWN,WES19AWN,63,300,2020-01-01 15:46:26,2020,1,1,15.0,True,4,12,52.555,0.358,0.0,17.727612,2400.0,5.0
102,2020-01-01,3_FROM DOWNTOWN,WES20AWN,63,300,2020-01-01 15:46:58,2020,1,1,15.0,True,4,13,52.555,0.358,0.0,17.727612,2400.0,5.0
103,2020-01-01,3_FROM DOWNTOWN,WES21AWN,63,300,2020-01-01 15:47:12,2020,1,1,15.0,True,4,14,52.555,0.358,0.0,17.727612,2400.0,6.0
104,2020-01-01,3_FROM DOWNTOWN,WES23AWN,63,300,2020-01-01 15:48:24,2020,1,1,15.0,True,4,15,52.555,0.358,0.0,17.727612,2400.0,6.0
105,2020-01-01,3_FROM DOWNTOWN,WES24AWN,63,300,2020-01-01 15:48:28,2020,1,1,15.0,True,4,16,52.555,0.358,0.0,17.727612,2400.0,6.0
106,2020-01-01,3_FROM DOWNTOWN,WES25AWN,63,300,2020-01-01 15:48:50,2020,1,1,15.0,True,4,17,52.555,0.358,0.0,17.727612,2400.0,4.0
107,2020-01-01,3_FROM DOWNTOWN,WESNATWN,63,300,2020-01-01 15:49:18,2020,1,1,15.0,True,4,18,52.555,0.358,0.0,17.727612,2400.0,4.0
108,2020-01-01,3_FROM DOWNTOWN,WES27AWN,63,300,2020-01-01 15:49:30,2020,1,1,15.0,True,4,19,52.555,0.358,0.0,17.727612,2400.0,4.0
109,2020-01-01,3_FROM DOWNTOWN,WES29AWN,63,300,2020-01-01 15:49:42,2020,1,1,15.0,True,4,20,52.555,0.358,0.0,17.727612,2400.0,4.0
110,2020-01-01,3_FROM DOWNTOWN,WES30AWN,63,300,2020-01-01 15:50:08,2020,1,1,15.0,True,4,21,52.555,0.358,0.0,17.727612,2400.0,4.0
111,2020-01-01,3_FROM DOWNTOWN,WES31AWN,63,300,2020-01-01 15:51:53,2020,1,1,15.0,True,4,22,52.555,0.358,0.0,17.727612,2400.0,6.0
112,2020-01-01,3_FROM DOWNTOWN,WESACKWN,63,300,2020-01-01 15:52:04,2020,1,1,15.0,True,4,23,52.555,0.358,0.0,17.727612,2400.0,6.0
113,2020-01-01,3_FROM DOWNTOWN,WES440WN,63,300,2020-01-01 15:52:26,2020,1,1,15.0,True,4,24,52.555,0.358,0.0,17.727612,2400.0,6.0
114,2020-01-01,3_FROM DOWNTOWN,WESELMWF,63,300,2020-01-01 15:52:56,2020,1,1,15.0,True,4,25,52.555,0.358,0.0,17.727612,2400.0,6.0
115,2020-01-01,3_FROM DOWNTOWN,WESBOWWN,63,300,2020-01-01 15:53:40,2020,1,1,15.0,True,4,26,52.555,0.358,0.0,17.727612,2400.0,6.0
116,2020-01-01,3_FROM DOWNTOWN,WESCRAWN,63,300,2020-01-01 15:53:58,2020,1,1,15.0,True,4,27,52.555,0.358,0.0,17.727612,2400.0,6.0
117,2020-01-01,3_FROM DOWNTOWN,WESWILWM,63,300,2020-01-01 15:54:36,2020,1,1,15.0,True,4,28,52.555,0.358,0.0,17.727612,2400.0,6.0
118,2020-01-01,3_FROM DOWNTOWN,WESMOCWN,63,300,2020-01-01 15:54:42,2020,1,1,15.0,True,4,29,52.555,0.358,0.0,17.727612,2400.0,6.0
119,2020-01-01,3_FROM DOWNTOWN,WESLAUWN,63,300,2020-01-01 15:54:50,2020,1,1,15.0,True,4,30,52.555,0.358,0.0,17.727612,2400.0,6.0

In [20]:
drop_cols = ['arrival_time', 'block_abbr']
drop_cols = [col for col in drop_cols if col in overall_df.columns]
overall_df = overall_df.drop(drop_cols, axis=1)

In [21]:
# checking bins of loads for possible classification problem
loads = overall_df[overall_df.load <= config.TARGET_MAX]['load']
percentiles = []
for cbin in config.CLASS_BINS:
    percentile = np.percentile(loads.values, cbin)
    percentiles.append(percentile)

# percentiles = [(percentiles[0], percentiles[1]), (percentiles[1] + 1, percentiles[2]), (percentiles[2] + 1, percentiles[3])]
percentiles = [(percentiles[0], percentiles[1]), (percentiles[1] + 1, percentiles[2]), (percentiles[2] + 1, 55.0), (56.0, 75.0), (76.0, 100.0)]
print(f"Percentiles: {percentiles}")
overall_df[config.TARGET_COLUMN_CLASSIFICATION] = overall_df['load'].apply(lambda x: data_utils.get_class(x, percentiles))
overall_df = overall_df[overall_df[config.TARGET_COLUMN_CLASSIFICATION].notna()]
overall_df.y_class.unique()

Percentiles: [(0.0, 6.0), (7.0, 12.0), (13.0, 55.0), (56.0, 75.0), (76.0, 100.0)]

array([1., 0., 2., 3., 4.])

In [22]:
overall_df.y_class.value_counts()

0.0    5088996
2.0    4517975
1.0    4293333
3.0      64488
4.0      15133
Name: y_class, dtype: int64

In [23]:
## Hyperparameters
past = 10 # Past stops observed
future = 1 # Future stops predicted
offset = 0

learning_rate = 1e-4
batch_size = 256
epochs = 200

feature_label = config.TARGET_COLUMN_CLASSIFICATION
patience = 10

hyperparams_dict = {'past': past,
                    'future': future,
                    'offset': offset,
                    'learning_rate': learning_rate,
                    'batch_size': batch_size,
                    'epochs': epochs,
                    'patience': patience}
hyperparams_dict

{'past': 10,
 'future': 1,
 'offset': 0,
 'learning_rate': 0.0001,
 'batch_size': 256,
 'epochs': 200,
 'patience': 10}

In [24]:
# target = config.TARGET_COLUMN_CLASSIFICATION
target = 'y_class'

num_columns = ['darksky_temperature', 'darksky_humidity', 'darksky_precipitation_probability', 'sched_hdwy', 'traffic_speed']
cat_columns = ['month', 'hour', 'day', 'stop_sequence', 'stop_id_original', 'year', 'time_window', target]
ohe_columns = ['dayofweek', 'route_id_dir', 'is_holiday']

columns = num_columns + cat_columns + ohe_columns
print(f"Numerical columns: {num_columns}")
print(f"Categorical columns: {cat_columns}")
print(f"One Hot Encode columns: {ohe_columns}")

Numerical columns: ['darksky_temperature', 'darksky_humidity', 'darksky_precipitation_probability', 'sched_hdwy', 'traffic_speed']
Categorical columns: ['month', 'hour', 'day', 'stop_sequence', 'stop_id_original', 'year', 'time_window', 'y_class']
One Hot Encode columns: ['dayofweek', 'route_id_dir', 'is_holiday']

In [25]:
overall_df.head(1)

,transit_date,route_id_dir,stop_id_original,time_window,year,month,day,hour,is_holiday,dayofweek,stop_sequence,darksky_temperature,darksky_humidity,darksky_precipitation_probability,traffic_speed,sched_hdwy,load,y_class
0,2020-01-01,3_FROM DOWNTOWN,MCC5_5,40,2020,1,1,10.0,True,4,1,40.15,0.616,0.0,18.639604,4800.0,7.0,1.0

In [26]:
overall_df.hour.unique(), overall_df.stop_sequence.unique()

(array([10., 11., 12., 15., 16., 17.,  6.,  7.,  8., 18.,  5.,  9., 13.,
        14., 19., 20.,  0., 21., 22., 23.,  4.,  1.]),
 array([ 1,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,  2, 47, 48, 49, 50, 51,
        52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
        69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83],
       dtype=int32))

In [ ]:
train_dates = ('2020-01-01', '2021-06-30')
val_dates =   ('2021-06-30', '2021-10-31')
test_dates =  ('2021-10-31', '2022-04-06')

ohe_encoder, label_encoder, num_scaler, train_df, val_df, test_df = linklevel_utils.prepare_linklevel(overall_df, 
                                                                                                 train_dates=train_dates, 
                                                                                                 val_dates=val_dates, 
                                                                                                 test_dates=test_dates,
                                                                                                 cat_columns=cat_columns,
                                                                                                 num_columns=num_columns,
                                                                                                 ohe_columns=ohe_columns,
                                                                                                 feature_label='y_class',
                                                                                                 time_feature_used='transit_date',
                                                                                                 scaler='minmax')

drop_cols = ['transit_date', 'load', 'arrival_time']
drop_cols = [col for col in drop_cols if col in train_df.columns]
train_df = train_df.drop(drop_cols, axis=1)
val_df = val_df.drop(drop_cols, axis=1)
test_df = test_df.drop(drop_cols, axis=1)

arrange_cols = [target] + [col for col in train_df.columns if col != target]
train_df = train_df[arrange_cols]
val_df = val_df[arrange_cols]
test_df = test_df[arrange_cols]

In [ ]:
train_df['y_class'] = train_df.y_class.astype('int')
val_df['y_class']   = val_df.y_class.astype('int')
test_df['y_class']  = test_df.y_class.astype('int')

In [ ]:
print(train_df.shape)
train_df.head(1)

In [ ]:
## Saving encoders, scalers and column arrangement
fp = os.path.join('models', 'same_day', 'LL_OHE_encoder.joblib')
joblib.dump(ohe_encoder, fp)
fp = os.path.join('models', 'same_day', 'LL_Label_encoders.joblib')
joblib.dump(label_encoder, fp)
fp = os.path.join('models', 'same_day', 'LL_Num_scaler.joblib')
joblib.dump(num_scaler, fp)
fp = os.path.join('models', 'same_day', 'LL_X_columns.joblib')
joblib.dump(train_df.columns, fp)

In [ ]:
# Can add shuffle in the future
@tf.autograph.experimental.do_not_convert
def timeseries_dataset_from_dataset(df, feature_slice, label_slice, input_sequence_length, output_sequence_length, batch_size):
    dataset = tf.data.Dataset.from_tensor_slices(df.values)
    ds = dataset.window(input_sequence_length + output_sequence_length, shift=1, drop_remainder=True)
    ds = ds.flat_map(lambda x: x).batch(input_sequence_length + output_sequence_length)
     
    def split_feature_label(x):
        return x[:input_sequence_length:, feature_slice], x[input_sequence_length:,label_slice]
     
    ds = ds.map(split_feature_label)
     
    return ds.batch(batch_size)

In [ ]:
label_index = train_df.columns.tolist().index(target)
print(label_index)

In [ ]:
label_slice = slice(label_index, label_index + 1, None) # which column the label/labels are
feature_slice = slice(None, None, None) # Which feature columns are included, by default includes all (even label)
input_sequence_length = past # number of past information to look at
output_sequence_length = future # number of time steps to predict

dataset_train = timeseries_dataset_from_dataset(train_df, 
                                                feature_slice=feature_slice,
                                                label_slice=label_slice,
                                                input_sequence_length=input_sequence_length, 
                                                output_sequence_length=output_sequence_length, 
                                                batch_size=batch_size)

dataset_val = timeseries_dataset_from_dataset(val_df, 
                                              feature_slice=feature_slice,
                                              label_slice=label_slice,
                                              input_sequence_length=input_sequence_length, 
                                              output_sequence_length=output_sequence_length, 
                                              batch_size=batch_size)

dataset_test = timeseries_dataset_from_dataset(test_df,
                                               feature_slice=feature_slice,
                                               label_slice=label_slice,
                                               input_sequence_length=input_sequence_length, 
                                               output_sequence_length=output_sequence_length, 
                                               batch_size=batch_size)
for batch in dataset_train.take(1):
    (x, y) = batch
    display(pd.DataFrame(x[100], columns=train_df.columns))
    print(x[100].shape)
    display(pd.DataFrame(y[100], columns=['y_class']))

In [ ]:
num_classes = len(train_df.y_class.unique())
num_classes

In [ ]:
# define model
model = tf.keras.Sequential()
model.add(LSTM(256, return_sequences=True))
model.add(LSTM(256))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

# compile model
model.compile(
    loss="sparse_categorical_crossentropy",
    optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
    metrics=["sparse_categorical_accuracy"],
)
# model.compile(
#     loss="mean_absolute_error",
#     optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
#     metrics=tf.keras.metrics.MeanSquaredError(),
# )

input_shape = (None, None, len(train_df.columns))
model.build(input_shape)
print(model.summary())

In [ ]:
from tensorflow.keras import backend as K
K.clear_session()

In [ ]:
checkpoint_filepath = 'models/same_day/model/CLA_cp-epoch{epoch:02d}-loss{val_loss:.2f}.ckpt'
model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath,
    save_weights_only=True,
    monitor='val_loss',
    mode='min',
    save_best_only=True)

In [ ]:
# fit model
callbacks = [keras.callbacks.EarlyStopping(patience=patience, restore_best_weights=True), model_checkpoint_callback]

history = model.fit(dataset_train, validation_data=dataset_val, epochs=epochs, callbacks=callbacks, verbose=1)

In [ ]:
# plt.plot(history)

## Inference
* Load model and encoders,scalers,converters

In [29]:
import datetime as dt

In [30]:

TIMEWINDOW = 15

In [31]:
# Load model
latest = tf.train.latest_checkpoint('models/same_day/model')
columns = joblib.load('models/same_day/LL_X_columns.joblib')
label_encoders = joblib.load('models/same_day/LL_Label_encoders.joblib')
ohe_encoder = joblib.load('models/same_day/LL_OHE_encoder.joblib')
num_scaler = joblib.load('models/same_day/LL_Num_scaler.joblib')

In [32]:
def get_apc_data_for_date(filter_date):
    print("Running this...")
    filepath = os.path.join('data', 'processed', 'apc_weather_gtfs.parquet')
    apcdata = spark.read.load(filepath)
    apcdata.createOrReplaceTempView("apc")

    plot_date = filter_date.strftime('%Y-%m-%d')
    get_columns = ['trip_id', 'transit_date', 'arrival_time', 'vehicle_id', 'ons',
                   'block_abbr', 'stop_sequence', 'stop_name', 'stop_id_original',
                   'load', 
                   'darksky_temperature', 
                   'darksky_humidity', 
                   'darksky_precipitation_probability', 
                   'route_direction_name', 'route_id', 'gtfs_direction_id',
                   'dayofweek',  'year', 'month', 'hour',
                   'sched_hdwy']
    get_str = ", ".join([c for c in get_columns])
    query = f"""
    SELECT {get_str}
    FROM apc
    WHERE (transit_date == '{plot_date}')
    ORDER BY arrival_time
    """
    apcdata = spark.sql(query)
    apcdata = apcdata.withColumn("route_id_dir", F.concat_ws("_", apcdata.route_id, apcdata.route_direction_name))
    apcdata = apcdata.withColumn("day", F.dayofmonth(apcdata.arrival_time))
    apcdata = apcdata.drop("route_direction_name")
    apcdata = apcdata.withColumn("load", F.when(apcdata.load < 0, 0).otherwise(apcdata.load))
    return apcdata

In [38]:
def prepare_input_data(input_df, ohe_encoder, label_encoders, num_scaler, columns, keep_columns=[], target='y_class'):
    num_columns = ['darksky_temperature', 'darksky_humidity', 'darksky_precipitation_probability', 'sched_hdwy', 'traffic_speed']
    cat_columns = ['month', 'hour', 'day', 'stop_sequence', 'stop_id_original', 'year', 'time_window']
    ohe_columns = ['dayofweek', 'route_id_dir', 'is_holiday']

    # OHE
    input_df[ohe_encoder.get_feature_names_out()] = ohe_encoder.transform(input_df[ohe_columns]).toarray()
    # input_df = input_df.drop(columns=ohe_columns)

    # Label encoder
    for cat in cat_columns:
        encoder = label_encoders[cat]
        input_df[cat] = encoder.transform(input_df[cat])
    
    # Num scaler
    input_df[num_columns] = num_scaler.transform(input_df[num_columns])
    input_df['y_class']  = input_df.y_class.astype('int')

    if keep_columns:
        columns = keep_columns + columns
    # Rearrange columns
    input_df = input_df[columns]
    
    return input_df

def assign_data_to_bins(df, TARGET='load'):
    bins = pd.IntervalIndex.from_tuples([(-1, 6.0), (7.0, 12.0), (13.0, 55.0), (56.0, 75.0), (76.0, 100.0)])
    mycut = pd.cut(df[TARGET].tolist(), bins=bins)
    df['y_class'] = mycut.codes
    return df

In [34]:
date_to_predict = dt.date(2021, 10, 18)
apcdata = get_apc_data_for_date(date_to_predict)

Running this...

In [47]:
df = apcdata.toPandas()
df = df[df.arrival_time.notna()]
df = df[df.sched_hdwy.notna()]
df = df[df.darksky_temperature.notna()]

df['day'] = df["arrival_time"].dt.day
df = df.sort_values(by=['block_abbr', 'arrival_time']).reset_index(drop=True)

# Adding extra features
# Holidays
fp = os.path.join('data', 'others', 'US Holiday Dates (2004-2021).csv')
holidays_df = pd.read_csv(fp)
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])
holidays_df['is_holiday'] = True
df = df.merge(holidays_df[['Date', 'is_holiday']], left_on='transit_date', right_on='Date', how='left')
df['is_holiday'] = df['is_holiday'].fillna(False)
df = df.drop(columns=['Date'])

# Traffic
# Causes 3M data points to be lost
fp = os.path.join('data', 'traffic', 'triplevel_speed.pickle')
speed_df = pd.read_pickle(fp)
speed_df = speed_df.rename({'route_id_direction':'route_id_dir'}, axis=1)
speed_df = speed_df[['transit_date', 'trip_id', 'route_id_dir', 'traffic_speed']]
df = df.merge(speed_df, how='left', 
                left_on=['transit_date', 'trip_id', 'route_id_dir'], 
                right_on=['transit_date', 'trip_id', 'route_id_dir'])
# df = df[~df['traffic_speed'].isna()]
df['traffic_speed'].bfill(inplace=True)

df['minute'] = df['arrival_time'].dt.minute
df['minuteByWindow'] = df['minute'] // TIMEWINDOW
df['temp'] = df['minuteByWindow'] + (df['hour'] * 60 / TIMEWINDOW)
df['time_window'] = np.floor(df['temp']).astype('int')
df = df.drop(columns=['minute', 'minuteByWindow', 'temp'])

# HACK
df = df[df['hour'] != 3]
df = df[df['stop_sequence'] != 0]

df = df.sort_values(by=['block_abbr', 'arrival_time']).reset_index(drop=True)

df = assign_data_to_bins(df, TARGET='load')

In [48]:
input_df = prepare_input_data(df, ohe_encoder, label_encoders, num_scaler, columns, target='y_class')

month
hour
day
stop_sequence
stop_id_original
year
time_window

In [55]:
def generate_simple_lstm_predictions(input_df, model, past, future):
    past_df = input_df[0:past]
    future_df = input_df[past:]
    predictions = []
    for f in range(future):
        pred = model.predict(past_df.to_numpy().reshape(1, *past_df.shape))
        y_pred = np.argmax(pred)
        predictions.append(y_pred)
        
        # Add information from future
        last_row = future_df.iloc[[0]]
        last_row['y_class'] = y_pred
        past_df = pd.concat([past_df[1:], last_row])
        
        # Move future to remove used row
        future_df = future_df[1:]
    return predictions

In [56]:
tdf = input_df[0:20]
model = linklevel_utils.setup_simple_lstm_generator(input_df.shape[1], 5)
model.load_weights(latest)
y_pred = generate_simple_lstm_predictions(tdf, model, 10, 10)

In [57]:
y_pred

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [2]:
import pandas as pd
import os

# fp = os.path.join('../models/same_day/evaluation/SIMPLE_LSTM_multi_stop_5P_xF_results.pkl')
fp = os.path.join('../models/same_day/evaluation/baseline_multi_stop_10P_xF_results.pkl')
df = pd.read_pickle(fp)
df

              trip_id y_true y_pred
0   268878_2022-04-04    1.0   None
1   268878_2022-04-04    1.0      2
2   268878_2022-04-04    1.0      2
3   268878_2022-04-04    1.0      2
4   268878_2022-04-04    1.0      2
5   268878_2022-04-04    1.0      2
6   268878_2022-04-04    1.0      2
7   268878_2022-04-04    0.0      2
8   268878_2022-04-04    0.0      2
9   268878_2022-04-04    0.0      2
10  268878_2022-04-04    0.0      2
11  268878_2022-04-04    0.0      2
12  268878_2022-04-04    0.0      1
13  268878_2022-04-04    0.0      1
14  268878_2022-04-04    0.0      1
15  268878_2022-04-04    0.0      1
16  268878_2022-04-04    0.0      1